**/.git
**/.svn
**/.hg
**/node_modules
**/bower_components
**/vendor
**/public
**/tmp
**/logs
**/.gitignore
**/.gitmodules
**/.DS_Store
**/.idea
**/.husky
**/yarn.lock
**/yarn-error.log
**/yarn-lock.json
**/yarn-debug.log
**/yarn-lock.yml
**/yarn-error.yml
**/ios
**/android
**/web
**/webpack.config.js
**/webpack.config.babel.js
**/.history
